## Esther Chao | Data Bootcamp: Code Practice 1

**1. Describe and explain what each of these expressions produces in basic Python:**

In [2]:
2+5 # This calculation adds.

7

In [3]:
2 + 5 # This one adds too; the white space doesn't change the output.

7

In [5]:
2*5 # This calculation multplies.

10

In [6]:
2/5 # This calculation divides.

0.4

In [7]:
2**5 # This calculation raises 2 to the power of 5.

32

**2. What is the value of x after running these statements in order? Why?**

In [8]:
x = 7
x = x + 3

x

10

The value of x is 10 after running these statements in order. The first statement assigns the value 7 to the variable x. The right side of the second statement adds 3 to the current value of x, which is 7. This reassigns the resulting value 10 to x.

**3. What is the value of y after running these statements in order? Of x? Why?**

In [10]:
x = 3
y = x
x = 10

print(y)
print(x)

3
10

The value of y is 3 after running these statements in order. This is because the program works line by line; it does not automatically reupdate like in Excel. Since the first line assigns the value 3 to x, the second line assigns the then-current value of x to y, which is still 3. Y remains 3 despite any subsequent changes because it does not recalculate.

The value of x by the end, however, is 10 because it is re-assigned to the value 10 in the third line.

**4. Does this code run without error? If so, what does it produce? If not, explain why.**

In [17]:
x = 3
x = x/2
y = 'abc'
z = y + y
print(x, z)

1.5 abcabc

The code does run without error and produces 1.5 abcabc. x is first assigned to the value 3 and thus computes 3/2 in the second line. y is a string. z adds two strings together, which is okay and simply produces abcabc. Printing both x and z together is fine as well because of the comma separating the values.

**5. Does this code run without error? If so, what does it produce? If not, explain why.**

In [1]:
x = 3
x = x/2
y = 'abc'
z = x + y
print(x, z)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

This code does not run without error because, contrary to question 4 above, z is assigned the value of x + y. x is a float while y is a string. We cannot add two different types of variables.

**6. Does this code run without error? If so, what does it produce? If not, explain why.**

In [2]:
x = 3
y = 24
z = y / x
print (x, y, z, sep='|')

3|24|8.0

This code does run without error and produces 3|24|8.0. x and y are both assigned to the values of 3 and 24 respectively. z is assigned to the value of a simple division of y by x, in this case 24/3, resulting in 8. Printing the values of x, y, and z is fine as well; the values are separated by | instead of white space as instructed by the sep function.

**7. Does this code run without error? If so, what does it produce? If not, explain why.**

In [4]:
x = 3
y = '24'
z = y / x
print(x, z)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

This code does not run without error, similar to the result of question 5. Here, y is a string indicated by the quotation marks. The problem lies with z since it is assigned to y / x. Because y is a string, it cannot be divided by x which is an integer. We cannot divide two different types of variables.

**8. Does this code run without error? If so, what does it produce? If not, explain why.**

In [4]:
x = "I am a #string" # Whoa, a string!

This code does run without error. It produces an assignment of the variable x to the string "I am a #string". The # has no significance within the string because it is just another character within a chain. The # outside of and following the quotation marks produces a comment that does not impact the code itself.

**9. Does this code run without error? If so, what does it produce? If not, explain why.**

In [1]:
x = [1, 2, 3]
y = [42, 43]
z = x + y
print(z)

[1, 2, 3, 42, 43]

This code does run without error. Since x and y are both lists and z is assigned to x + y, it produces a big list combining all the elements of x plus all the elements of y in order, giving us 5 items in the list assigned to z altogether. This is not a numerical operation.

**10. Does this code run without error? If so, what does it produce? If not, explain why.**

In [2]:
x = [1, 2, 3]
y= 42
z = x + y

TypeError: can only concatenate list (not "int") to list

This code does not run without error. While we saw in the previous question that the plus sign can combine two lists together, it cannot be used to add an integer to a list.

**11. What "types" are**

In [1]:
x1 = 12
type(x1)

int

In [2]:
x2 = 12.0
type(x2)

float

In [13]:
x3 = '12.0'
type(x3)

str

In [4]:
x4 = [12]
type(x4)

list

In [12]:
x5 = [12, 12.0, '12.0']
type(x5)

list

**12. Explain the result of each line:**

In [7]:
type(42) # This is an integer because it's a whole number.

int

In [8]:
type(42.0) # This is a float because of the decimal place.

float

In [11]:
type('42.0') # This is a string denoted by the quotation marks.

str

In [15]:
type ("42.0") # Still a string; no difference between single and double quotes.

str

In [16]:
type("""42.0""") # Still a string; number of quotes doesn't matter.

str

In [17]:
type([1, 2]) # This is a list denoted by the brackets.

list

In [19]:
type([1] + [2]) # Still a list because combining two lists results in a big list.

list

In [22]:
type(1 + 2)  # This is an integer because one integer plus another is still an integer.

int

In [24]:
type(print) # This explains what print means in Python; it's a built in function.

builtin_function_or_method

**13. Describe and explain the result of this statement:**

In [1]:
type(float(str(int('1234'))))

float

Working from the inside outwards, we're working originally with a string '1234'. The int function first converts the string to an integer, resulting in the interger 1234. Secondly, str converts the integer back into the string '1234'. Thirdly, float converts the string '1234' into a float, which would be 1234.0. Finally, the type function tells us what category 1234.0 is, which is a float.

**14. Describe and explain the result of this statement:**

In [4]:
type(int(float('12.34')))

int

Working from the inside outwards, we're working originally with a string '12.34'. The float function first converts the string to a float, resulting in 12.34. Secondly, int converts the float to an integer, eliminating the decimal points and reporting 12. Finally, the type function tells us what category 12 is, which is an integer.

**15. Explain each line:**

In [8]:
len([1234]) # This tells us the length of the object, in this case a list of 1.

1

In [10]:
len("1234") # This tells us the length of the string, which is 4 characters.

4

In [11]:
len(1234) # This results in an error; we can't measure the length of integers.

TypeError: object of type 'int' has no len()

**16. What are the type and length of x = [ ]?**

In [13]:
x = []

In [17]:
type(x) # x is a list, denoted by brackets.

list

In [20]:
len(x) # The length of x is 0 because there are no items in the list.

0

**17. Convert the string x = 'abcde' to a list. What does it look like?**

In [22]:
x = 'abcde'

In [24]:
y = list(x)
print(y)

['a', 'b', 'c', 'd', 'e']

When converting the string 'abcde' into a list, it produces a list of each distinct character within the string separated by commas.

**18. Consider the integer x = 1234.**

In [25]:
x = 1234

**a. Convert x to a floating point number.**

In [30]:
float(x) # This converts x to a float.

1234.0

**b. Convert x to a string.**

In [32]:
str(x) # This converts x to a string.

'1234'

**c. Convert x to the list ['1', '2', '3', '4'].**

In [35]:
list(str(x)) # This first converts x to a string so it is then able to be converted into a list.

['1', '2', '3', '4']

**19. Challenging. How would you convert x to "title case" (First letter of each word capitalized)? Hint: Use tab completion to find an appropriate method.**

In [36]:
x = "luke, i am your father"

In [52]:
x.title() # This returns a titlecased version where words start with a capital.

'Luke, I Am Your Father'

**20. Challenging. Consider the string**

In [53]:
x = "How many characters and words are in this string?"

**a. How many characters does x contain?**

In [56]:
len(x) # The length function returns the number of characters in a string.

49

**b. Convert x to a list of individual characters.**

In [58]:
list(x) # The list function converts a string into a list of its items.

['H',
 'o',
 'w',
 ' ',
 'm',
 'a',
 'n',
 'y',
 ' ',
 'c',
 'h',
 'a',
 'r',
 'a',
 'c',
 't',
 'e',
 'r',
 's',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'w',
 'o',
 'r',
 'd',
 's',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 'i',
 'n',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g',
 '?']

**c. Convert x to a list of individual words. Hint: Use tab completion to find a method that splits x into pieces.**

In [65]:
x.split() # This returns a list of the words in in the string.

['How', 'many', 'characters', 'and', 'words', 'are', 'in', 'this', 'string?']

**d. How many words does x contain?**

In [69]:
len(x.split()) # After converting x to a list of individual words, the len function counts the number of items in the list.

9